# APP
NODE_ENV=production
PORT=3001
JWT_SECRET=SUPER_SECRET_CHANGE_ME_NOW

# DATABASE (SQLite - Arquivo local, sem dependência externa)
DATABASE_URL="file:./prisma/dev.db"

# FRONTEND
NEXT_PUBLIC_API_URL=http://your-domain.com/api
